.btn {
  &:visited,
  &:link {
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 3px;
  }

  &-main {
    background-color: $color-tertiary;
  }
}
